<div align="center">
  <div id="custom-search-input">
  <%= image_tag("/assets/helpjuice-logo.png") %>
</div>
</div>
<div class="row", align="center">
  <div id="custom-search-input">
    <%= render 'form' %>
   </div>
</div>
